@model List<SumEksamen.Models.Venteliste>

<h1>Venteliste</h1>

<table class="table">
    <thead>
    <tr>
        <th>Årgang</th>
        <th>Oprettelsesdato</th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Aargang</td>
        <td>@item.OprettelsesDato.ToString("yyyy-MM-dd HH:mm:ss")</td>
        <td>
            <a href="@Url.Action("VentelisteDetaljer", "Venteliste", new { aargang = item.Aargang })">Se detaljer</a>
        </td>
    </tr>
    }
    </tbody>
</table>

<h3><a href="@Url.Action("OpretVenteliste", "Venteliste")">Opret en ny venteliste</a></h3>

