@{
    ViewData["Title"] = "Home Page";
}

@model SumEksamen.Models.FileUploadViewModel

<form asp-action="UploadExcel" asp-controller="Køkkenhold" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Upload Excel File</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>